.hero {
    width: 100vw;
    height: 80vh;
    position: relative;
    color: white;
    background-color: black;
}

.dinoh1 {
    color: chartreuse;
    text-align: center
}

/*  */

.dinosaur {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
}

.dinosaurimij {
    width: 100%;
    height: 100%
}


/*  */

.obstacle {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
}

/*  */

.restarth1 {
    text-align: center;
    transition: 0.2s linear;
    cursor: pointer;
}

.restarth1:hover {
    color: chartreuse;
}












/*  */

@media screen and (max-width:600px) {
    .hero {
        height: 100vh;
    }
}